 h1{
    text-align: center;
    background-color: aquamarine;
 }

/* 
 *{
   padding: 0px;
   margin: 0px;
   font-family: 'Courier New', Courier, monospace;
 } */

 ul{
   list-style:none;
   background-color: #224aa0;
 }

 ul li{
   display: inline;
   position: relative;
 }

 ul li a{
   display: block;
   padding: 20px 25px;
   color: #fff;
 }